<ion-menu contentId="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                Menu
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerDirection="root" [routerLink]="['/','menu','my-profile']">
                    <ion-icon name="contact" slot="start"></ion-icon>
                    <ion-label>
                        Mi perfil
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="/menu/find-services">
                    <ion-icon name="search" slot="start"></ion-icon>
                    <ion-label>
                        Buscar Servicios
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="/menu/offer-services">
                    <ion-icon name="medkit" slot="start"></ion-icon>
                    <ion-label>
                        Ofrecer Servicios
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>

                <ion-item routerDirection="root" routerLink="/menu/settings">
                    <ion-icon name="settings" slot="start"></ion-icon>
                    <ion-label>
                        Ajustes
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="content" main>

</ion-router-outlet>
