<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Regístrate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center>
        <h2>Crea tu cuenta!</h2>
    </div>
    <div class="swiper-button-prev" *ngIf="previousSlideEnabled" (click)="prevSlide()"></div>
    <ion-slides pager="true" #slides>
        <!-- First Slide -->
        <ion-slide>
            <ion-item>
                <ion-label>Registro para empresa</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="isAnEnterpriseRegistering"></ion-checkbox>
            </ion-item>
            <ion-content>
                <form *ngIf="isAnEnterpriseRegistering" #formOne="ngForm" (ngSubmit)="registerForm(formOne)">
                    <div padding>
                        <ion-item>
                            <ion-label><b>Datos de tu Empresa</b> </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Razón Social:</ion-label>
                            <ion-input name="razon_social" type="text" placeholder="Mexiquence SA DE CV" ngModel
                                required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Estado:</ion-label>
                            <ion-select name="estado" placeholder="Monterrey" ngModel required
                                [(ngModel)]="formatoUno.estado">
                                <ion-select-option *ngFor="let estado of estadosMexico" [value]="estado">
                                    {{ estado }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label *ngIf="formatoUno.estado != 'CDMX'">Municipio:</ion-label>
                            <ion-label *ngIf="formatoUno.estado == 'CDMX'">Alcaldía:</ion-label>
                            <ion-input name="municipio" type="text" placeholder="Iztapalapa" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item *ngIf="formatoUno.estado=='CDMX'">
                            <ion-label>Colonia:</ion-label>
                            <ion-input name="colonia" type="text" placeholder="Colonial Iztapalapa" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Calle:</ion-label>
                            <ion-input name="calle" type="text" placeholder="Iztapalapa" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Número:</ion-label>
                            <ion-input name="numero" type="tel" maxlength="10" placeholder="314" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Teléfono:</ion-label>
                            <ion-input name="telefono" type="tel" maxlength="10" placeholder="5517584632" ngModel
                                required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Giro:</ion-label>
                            <ion-input name="giro" type="text" placeholder="Centro de copiado" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Código Postal:</ion-label>
                            <ion-input name="codigo_postal" type="tel" maxlength="5" placeholder="05340" ngModel
                                required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Rango de empleados:</ion-label>
                            <ion-select name="rango_de_empleados" placeholder="0-10" ngModel required>
                                <ion-select-option *ngFor="let rangoEmpleados of rangosEmpleadosEmpresa">
                                    {{ rangoEmpleados.numberOfWorkers }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button *ngIf="isAnEnterpriseRegistering" size="large" type="submit" expand="block">
                            Continuar
                        </ion-button>                        
                    </div>
                </form>
                <div padding>                        
                    <ion-button *ngIf="!isAnEnterpriseRegistering" size="large" expand="block"
                        (click)="omitStepOne()">
                        Continuar
                    </ion-button>
                </div>
            </ion-content>
        </ion-slide>
        <!-- Second Slide -->
        <ion-slide>
            <form #formTwo="ngForm" (ngSubmit)="registerForm(formTwo)">
                <ion-grid>
                    <div padding>
                        <ion-item>
                            <ion-label><b>Datos de Pago</b></ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Tarjeta de credito: </ion-label>
                            <ion-input name="numero_tarjeta" type="text" placeholder="5252383800002134" maxlength="16"
                                ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Fecha de vencimiento: </ion-label>
                            <ion-datetime name="expiracion_tarjeta" display-format="MM/YY" picker-format="MM YY"
                                min="2019" max="2030" ngModel required></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label>CVV: </ion-label>
                            <ion-icon name="help" (click)="openCVVExplanation($event)"></ion-icon>
                            <ion-input name="cvv_credit_card" type="number" placeholder="343" ngModel required>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button *ngIf="formTwo.invalid" size="large" (click)="omitStepTwo()" expand="block">
                            Omitir y Continuar
                        </ion-button>
                        <ion-button *ngIf="formTwo.valid" size="large" type="submit" expand="block"
                            [disabled]="formTwo.invalid">
                            Continuar
                        </ion-button>
                    </div>
                </ion-grid>
            </form>
        </ion-slide>
        <!-- Third Slide -->
        <ion-slide>
            <form #formThree="ngForm" (ngSubmit)="registerForm(formThree)">
                <ion-grid>
                    <div padding>
                        <ion-item>
                            <ion-label><b>Datos de Cuenta</b></ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Nombre de usuario: </ion-label>
                            <ion-input name="name" type="text" placeholder="Juan Rodriguez" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Email: </ion-label>
                            <ion-input name="email" type="email" email="true" placeholder="ejemplo@email.com" ngModel
                                required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Contraseña: </ion-label>
                            <ion-input name="password" type="password" placeholder="Password" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Repetir Contraseña: </ion-label>
                            <ion-input name="password_confirm" type="password" placeholder="Password" ngModel required>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" expand="block" [disabled]="formThree.invalid">
                            Finalizar Registro
                        </ion-button>
                    </div>
                </ion-grid>
            </form>
        </ion-slide>
    </ion-slides>
    <ion-row justify-content-center>
        <div text-center>
            ¿Ya tienes cuenta?
            <a routerLink='/menu/login'>Inicia Sesión</a>
        </div>
    </ion-row>
</ion-content>