<ion-content>
    <ion-slides pager="true" #slides>
        <ion-slide>
            <h1>Bienvenido a SugarApp</h1>
            <h5>El mejor lugar para encontrar y pagar servicios</h5>
            <ion-button expand="button" color="light" (click)="next()">Continuar</ion-button>
        </ion-slide>
        <ion-slide>
            <h1>Busca y encuentra</h1>
            <h5>Show many images here of services and pymes</h5>
            <ion-button expand="button" color="light" (click)="saveAndStart()">Continuar</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>
